<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kids">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mvehiclechecking" />
        <activity android:name=".Mvehicle" />
        <activity android:name=".Mview" />
        <activity
            android:name=".Mflowerchecking"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Mflowers"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Mchecking"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Mcolours"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Mpictureidentify"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".NumberTen"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberNine"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberEight"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberSeven"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberSix"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberFive"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberFour"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberThree"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SubtractResult"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Subtract"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".AdditionResult"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Addition"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberTwo"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberOne"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberLearn"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NumberDash"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Alphabet"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity3"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MainActivity2"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".EditProfile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Registration"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpeningPage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Comments"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NextActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>